<h1>Product List</h1>
<table>
    <th>Product Id</th>
    <th>Product Data</th>
    <tr>
        <td>123</td>
        <td>Product 1</td>
    </tr>
    <tr>
        <td>765</td>
        <td>Product 2</td>
    </tr>
</table>

