<h1>users List</h1>
<table>
    <th>User Id</th>
    <th>User Data</th>
    <tr>
        <td>123</td>
        <td>Jack</td>
    </tr>
    <tr>
        <td>765</td>
        <td>Simon</td>
    </tr>
</table>

